{% extends "campus.html" %}
{% block mydemo %}
<style>
.header{
        background:white !important;
}

.navbar
{
        background:black;
        height:74px;
}
</style>
{% endblock %}
{% load staticfiles %}
{% block myd %}
<section  class='mt-3' style='background:url("{% static 'images/lapi.jpg' %}");background-attachment: fixed;'> 
        <h1 class='text-center  pt-5 pb-4 ' style="color:#fff;background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">About us</h1>
         </section> 
<div class='container-fluid'>
<div class='row'>
   <div class='col-md-6 pt-5' >
        <img src="{% static 'images/person9.jpeg' %}" width='100%'  height='500px'>
    </div>
   <div class='col-md-6 pt-5 pl-5'>
    <h1  style="font-family: 'poppins',sans-serif;font-weight:bolder;color:#222a35;font-size: 45px">About us</h1>
     <p class='pt-3' style="color:grey;font-size:16px;word-spacing: 2px;"">
       Our University is a world-leading centre of learning,teaching and research and the oldest university in the English-speaking world.The main endeavor of Campus Placement,is to get students placed in reputed multinationals,government jobs and private sector.
       <br>
       <p class='pt-1' style='color:grey;font-size:16px;word-spacing: 2px'>
       All registered students with Campus Placement will be entitled to placement assistance,counselling for employment and even self employment.The Campus Placement will act as an interface between the industry and the students and will primarily enable the students to select from their career options.
</p>
       
<p class='pt-1' style='color:grey;font-size:16px;word-spacing: 2px'>
Our vision is to be globally recognized as a Centre of Excellence for Research,Innovation,Enterpreneurship and disseminating knowlegdge by providing inspirational learning to produce professional leaders for serving the society. 
</p>
   </div>
</div>
<h1 class='pt-5 text-center pb-3' style="font-size:50px;font-family: 'poppins',sans-serif;font-weight: 600; letter-spacing:2px;word-break: break-word;color:#222a35">Top Recruiters</h1>
<div class='row pt-5 ' style='background: #e7f5fe'>
   <div class='col-md-4' >
       <div class='pl-5 pr-2' >
            <img src="{% static 'images/aivina.jpg' %}"  style='width:150px;height:150px;'>

    </div>
    </div>
    <div class='col-md-4'>
        <div class='pl-5 pr-2' >
                <img src="{% static 'images/9x.png' %}" style='width:150px;height:150px'>

     </div>
    </div>
     <div class='col-md-4'>
        <div class='pl-5 pr-2' >
                <img src="{% static 'images/echo.png' %}" style='width:150px;height:150px'>

     </div>
     </div>
</div>
<div class='row pt-5 pb-3' style='background: #e7f5fe'>
     <div class='col-md-4'>
        <div class='pl-5 pr-2 '>
                <img src="{% static 'images/net.png' %}" style='width:150px;height:150px'>
        </div>
     </div>
     <div class='col-md-4'>
        <div class='pl-5 pr-2 ' >
                <img src="{% static 'images/sea.png' %}" style='width:150px;height:150px'>
        </div>
     </div>
     <div class='col-md-4'>
        <div class='pl-5 pr-2 ' >
                <img src="{% static 'images/uco1.png' %}" style='width:150px;height:150px'>
        </div>
     </div>
</div>
<h1 class='pt-5 text-center pb-3' style="font-size:50px;font-family: 'poppins',sans-serif;font-weight: 600; letter-spacing:2px;word-break: break-word;color:#222a35">Our Placed Students</h1>

<div class='row pt-5' style='background:#fff'>
    <div class='col-md-4' >
        <div class='pl-5 pr-2'>
             <img src="{% static 'images/person14.jpg' %}" style='width:300px;height:300px;border-radius: 5px'>
             <p class='pt-2 pl-5' style='color:#222a35;font-weight: 700;font-size:20px;'>Kristen Stewart</p>
             <p class='pl-5' style='color:#222a35;line-height:2px;font-weight: 600;font-size:16px'>Salary Package-3.8 lac</p>

     </div>
     </div>
     <div class='col-md-4'>
         <div class='pl-5 pr-2' >
                 <img src="{% static 'images/person16.jpg' %}" style='width:300px;height:300px;border-radius: 5px'>
                 <p class='pt-2 pl-5' style='color:#222a35;font-weight: 700;font-size:20px;'>John Kruits</p>
                 <p class='pl-5' style='color:#222a35;line-height:2px;font-weight: 600;font-size:16px'>Salary Package-3.5 lac</p>

      </div>
     </div>
      <div class='col-md-4'>
         <div class='pl-5 pr-2' >
                 <img src="{% static 'images/per1.jpg' %}" style='width:300px;height:300px;border-radius: 5px'>
                 <p class='pt-2 pl-5' style='color:#222a35;font-weight: 700;font-size:20px;'>Saleena Howardes</p>
                 <p class='pl-5' style='color:#222a35;line-height:2px;font-weight: 600;font-size:16px'>Salary Package-3.1 lac</p>

      </div>
      </div>
      </div>

      <div class='row pt-5' style='background:#fff'>
            <div class='col-md-4' >
                <div class='pl-5 pr-2' >
                     <img src="{% static 'images/per4.jpg' %}" style='width:300px;height:300px;border-radius: 5px'>
                     <p class='pt-2 pl-5' style='color:#222a35;font-weight: 700;font-size:20px;'>Scarlett Johansson</p>
                     <p class='pl-5' style='color:#222a35;line-height:2px;font-weight: 600;font-size:16px'>Salary Package-2.9 lac</p>
 
             </div>
             </div>
             <div class='col-md-4'>
                 <div class='pl-5 pr-2' >
                         <img src="{% static 'images/per8.jpg' %}" style='width:300px;height:300px;border-radius: 5px'>
                         <p class='pt-2 pl-5' style='color:#222a35;font-weight: 700;font-size:20px;'>Cameron Bandres</p>
                         <p class='pl-5' style='color:#222a35;line-height:2px;font-weight: 600;font-size:16px'>Salary Package-2.8 lac</p>
     
              </div>
             </div>
              <div class='col-md-4'>
                 <div class='pl-5 pr-2' >
                         <img src="{% static 'images/per9.jpg' %}" style='width:300px;height:300px;border-radius: 5px'>
                         <p class='pt-2 pl-5' style='color:#222a35;font-weight: 700;font-size:20px;'>Gerad Butler</p>
                         <p class='pl-5' style='color:#222a35;line-height:2px;font-weight: 600;font-size:16px'>Salary Package-2.6 lac</p>
     
              </div>
              </div>
</div> 
</div>

<div class='container-fluid pt-5 px-0'>
<div class='row' style='background: #222a35'>
        <div class='col-md-4 pt-5'>
                <div class='pb-2 '>
                        <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">
                            Project</h6>
<p class='pt-4' style="color:#fff;font-family: 'poppins','sans-serif';font-weight: 400">
Campus Recruitment  project manage all the details of  college students, various companies visiting  the campus for recruitment and even the college placement officer
</p>
                </div>
            </div>
            <div class='col-md-3 pt-5 mx-auto'>
                    <div class='pb-2' >
                            <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Follow Us</h6>
                 <p class='pt-4'> <span><i class='fa fa-facebook' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Facebook.com</span></span></p>
                 <p > <span><i class='fa fa-twitter' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Twitter.com</span></span></p>
                 <p > <span><i class='fa fa-youtube' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Youtube.com</span></span></p>
                 <p > <span><i class='fa fa-instagram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Instagram.com</span></span></p>
                 <p > <span><i class='fa fa-linkedin' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Linkedin.com</span></span></p>
                 <p > <span><i class='fa fa-telegram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Telegram.com</span></span></p>
                           
                </div>
                </div>
                <div class='col-md-4 pt-5'>
                        <div class='pb-2' >
                                <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Contact Us</h6>
                   <p class='pt-4'><span><i class="fa fa-map-marker" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px"> Plot No, 11-A, Cellulosics Rd, Industrial Area, Sector 58, Sahibzada Ajit Singh Nagar, Punjab 160055
                    </span> </p>     
                   <p><span><i class="fa fa-phone" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Tel: +9814327862</span> </p>     
                   <p><span><i class="fa fa-fax" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Fax:2233-1543-6547-8976</span> </p>     
                   <p><span><i class="fa fa-envelope" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">sachtech14@gmail.com</span> </p>     
                   </div>
                </div>
    

            <div class='col-md-12 pt-3' style='background:rgba(0,0,0,0.5)'>
                <h6 class='text-center' style="font-size:15px;color:#fff;font-family: 'poppins','sans-serif'">&copy;2019 Campus Copyright</h6>
            </div>
           
</div>
</div>


{% endblock %}