{% extends "dashstu.html" %}
{% load staticfiles %}
{% block mydemo %}
<style>
.ban{
        background:url("{% static 'images/lapi.jpg' %}");
        background-attachment: fixed;
    }
</style>
{% endblock %}

{% block dem %}
        <section class='mt-3 ban'>
                <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">All Jobs ({{total}})</h1>
                 </section>  
   <div class='container'>
       <div class='row pt-5'>
           <div class='col-md-12'>
<div class='row'>
    {% for i in all %}
    <div class='col-md-6 mb-3' >
  <div style='border:1px solid #ccc;background:#F5F5F5'>
        <div class='row ' style='height:120px'>
                <div class='col-md-2 '>
                    <img src="/media/{{i.profile_pic}}" height='120px' width='70px'>
                    </div>
                <div class='col-md-4 ml-2'>
                        <p style='font-size:16px;color:#222a35;;font-weight: 500'>{{i.position}}</p>
                        <p style='font-size:14px;color:grey;line-height: 4px;width:250px;height:40px;line-height: 15px'>{{i.requirements}}</p>
                    </div>
                    <div class='col-md-4 pl-5 ml-5 pt-4'>
           <a class='btn btn-block btn-control' href="{% url 'jobdes'%}?id={{i.id}}"  id='a1' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</a>
                    </div> 
            </div>        
</div>
    </div>
    {% endfor %}
    <!-- <div class='col-md-6' >
            <div style='border:1px solid #ccc;background:#F5F5F5'>
                    <div class='row ' style='height:120px'>
                            <div class='col-md-2 '>
                                <img src= "{%static 'images/grapdesign.jpg' %}" height='120px' width='80px'>
                                </div>
                            <div class='col-md-4'>
                                    <p style='font-size:16px;color:#222a35;;font-weight: 500'>Graphic Designer</p>
                                    <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:Python,Networking,IOS</p>
                                </div>
                                <div class='col-md-4 pl-5 ml-5 pt-4'>
                                    <button class='btn btn-block btn-control mt-3'  id='g1' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                                             </div>   
                        </div>    
            </div>
             </div> -->

</div>
<!-- <div class='row pt-5'>
        <div class='col-md-12'>
<div class='row'>
        <div class='col-md-6'>
                <div style='border:1px solid #ccc;background: #F5F5F5'>
                      <div class='row pt-3' style='height:120px'>
                              <div class='col-md-2 '>
                                  <img src= "{%static 'images/dbase.svg' %}" height='70px' width='100px'>
                                  </div>
                              <div class='col-md-4'>
                                      <p style='font-size:16px;color:#222a35;;font-weight: 500'>Database Administrator</p>
                                      <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:C#,Php,ReactNative,Android</p>
                                  </div>
                                  <div class='col-md-4 pl-5 ml-5 pt-4'>
                                      <button class='btn btn-block btn-control '  id='db1' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                                               </div>  
                          </div>
                      </div>
                      </div>
 <div class='col-md-6'>
<div style='border:1px solid #ccc;background: #F5F5F5'>
     <div class='row' style='height:120px'>
             <div class='col-md-2'>
                 <img src="{%static 'images/civil.jpg'%}" height='120px' width='80px'>
                 </div>
             <div class='col-md-4'>
                     <p style='font-size:16px;color:#222a35;;font-weight: 500'>Civil Engineer</p>
                     <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:C#,Php,ReactNative,Android</p>
                 </div>
                 <div class='col-md-4 pl-5 ml-5 pt-4'>
                    <button class='btn btn-block btn-control mt-3'  id='ce' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                             </div>  
         </div>
     </div>
     </div>

</div>

<div class='row pt-5'>
        <div class='col-md-12'>
<div class='row'>
 <div class='col-md-6' >
<div style='border:1px solid #ccc;background:#F5F5F5'>
     <div class='row' style='height:120px'>
             <div class='col-md-2 '>
                 <img src="{%static 'images/pyth.png' %}" height='70px' width='70px'>
                 </div>
             <div class='col-md-4'>
                     <p style='font-size:16px;color:#222a35;;font-weight: 500'>Python Developer</p>
                     <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:C#,Php,ReactNative,Android</p>
                 </div>
                 <div class='col-md-4 pl-5 ml-5 pt-4'>
                    <button class='btn btn-block btn-control mt-3' id='pd' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                             </div> 
                 
         </div>        
</div>
 </div>
 <div class='col-md-6'>
<div style='border:1px solid #ccc;background: #F5F5F5'>
     <div class='row' style='height:120px'>
             <div class='col-md-2 '>
                 <img src="{%static 'images/nw.jpg'%}" height='70px' width='80px'>
                 </div>
             <div class='col-md-4'>
                     <p style='font-size:16px;color:#222a35;;font-weight: 500'>Network Manager</p>
                     <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:C#,Php,ReactNative,Android</p>
                 </div>
                 <div class='col-md-4 pl-5 ml-5 pt-4'>
                    <button class='btn btn-block btn-control mt-3' id='nm' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                             </div> 
                 </div>
     </div>
     </div>
</div>
</div>
</div>
</div>
 </div> -->
</div> 
</div>
</div>


{% endblock %}