<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
   
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body style="background: #f5f5f5;">
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 500">Ucodice</h4>
                   <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">About Company</p>
         <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
            Ucodice Technologies Pvt. Ltd. is a team of professional that aims to provide high business solutions. We have Potential to turn a website visitor into your customer by using the skills of our dedicated support team. We are one of leading web Development Company. We provide all the web development solution to the clients across the world.We provide you development solution with many popular scripting languages and databases like PHP, JSP, ASP, .NET, Java Script, MYSQL, MSSQL, oracle & MS Access etc. We also utilize other services such as Ajax, Jquery, Json.
        </p>
        <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 500">Company Services</p>
        <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
            <ol>
                <li>UX & UI design</li>
                <li>Mobile Applications</li>
                <li>Website development</li>
                <li>Data Analytics and Visualizations</li>
                <li>CMS and CRM platforms</li>
                <li>It Support services</li>
                <li>Internet Of Things</li>
            </ol>
          </p>
          <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">Head Office</p>
          <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
            Darren Lincoln - Project Manager/Scrum Master

3088 SE Pine Valley Street, Port St. Lucie, Florida 34952, USA.
                        </p>
      


           </div>
                  <div class='col-md-4 mt-5' >
                      <img src="{% static 'images/uco1.png' %}" width='365px' height='250px'>
                      <div class='row pl-3 pt-5'>
                          <div class='col-md-12' style='border:1px solid #ccc;background: #fff;height:260px'>
                        <h5 style="font-family: 'Noto Serif', serif;color:#5caf01;">Contact Information</h5>
                      <p class='pt-3'> 
                          <i class='fa fa-envelope ' style='color:#5caf01;font-size: 18px'></i>
                          <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">contact@ucodice.com</span>
                      </p>
                      <p > 
                        <i class='fa fa-phone ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">011-27049593</span>
                      </p>
                    <p > 
                        <i class='fa fa-globe ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">www.companysolutions.com</span>
                    </p>
                    <p > 
                        <i class='fa fa-facebook' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">www.facebook.com</span>
                    </p>
                    <p > 
                        <i class='fa fa-map-marker ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">No. 96, Pocket 27, Sector 24 Rohini,

                            Delhi-110085, India
                            
                            (Above Vijaya Bank)</span>
                    </p>

                        </div>
                      </div>
                  </div>
                  
              </div>
             
          </div>
      </div>
  </div>
 <div class='container-fluid'>
    <div class='row pt-5 ' >
        <div class='col-md-12'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224085.76799545047!2d77.01734340968333!3d28.649532908877667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d014d5aaaaac5%3A0x2f958afd2b321834!2sUcodice+IT+Company!5e0!3m2!1sen!2sin!4v1555482420301!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
 </div>
     
   
</body>
</html>