<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
   
   <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body style="background: #f5f5f5;">
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 500">Ecotech</h4>
                   <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">About Company</p>
         <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
                Established in 2000 as IT Solutions provider in the space of Knowledge Management and eLearning
                Offering IT services including ODC services for EU Market since 2001, and US market since 2004
                Offering Enterprise Staffing services and IT Solutions in India, EU and GCC since 2009
            Microsoft Gold Certified Partner Presence in:India – Business Development & Global Delivery Center.Technology Focus – Microsoft SharePoint, Office 365 & .NET MVC, Lotus Notes, iPhone, Android, Ionic, Xamarin, Angular and HTML5
                  
        </p>
        <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 500">Company Services</p>
        <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
            <ol>
                
                <li>Mobile Applications</li>
                <li>Web development</li>
                <li>UX & UI design</li>
                <li>CMS and CRM platforms</li>
                <li>It Support services</li>
                <li>Internet Of Things</li>
            </ol>
          </p>
          <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">Head Office</p>
          <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
                Ecotech IT Solutions Inc.5655 Silver Creek Valley Rd., #137 San Jose, CA 95138
                        </p>
      


           </div>
                  <div class='col-md-4 mt-5' >
                      <img src="{% static 'images/echo.png' %}" width='365px' height='250px'>
                      <div class='row pl-3 pt-5'>
                          <div class='col-md-12' style='border:1px solid #ccc;background: #fff;height:260px'>
                        <h5 style="font-family: 'Noto Serif', serif;color:#5caf01;">Contact Information</h5>
                      <p class='pt-3'> 
                          <i class='fa fa-envelope ' style='color:#5caf01;font-size: 18px'></i>
                          <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">india@ecotechservices.com</span>
                      </p>
                      <p > 
                        <i class='fa fa-phone ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">+91 9545557091</span>
                      </p>
                    <p > 
                        <i class='fa fa-globe ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">www.echotech.com</span>
                    </p>
                    <p > 
                        <i class='fa fa-facebook' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">www.facebook.com</span>
                    </p>
                    <p > 
                        <i class='fa fa-map-marker ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">Ecotech IT Solutions Pvt. Ltd.
                                Sunshree “Woods”,NIBM Road,Pune 411 048 INDIA.
                            
                        </span>
                    </p>

                        </div>
                      </div>
                  </div>
                  
              </div>
             
          </div>
      </div>
  </div>
 <div class='container-fluid'>
    <div class='row pt-5 ' >
        <div class='col-md-12'>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121051.80184358025!2d73.78084789747155!3d18.534829761981566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea65fd81168f%3A0xb2efbf3bd1c34d76!2sEcotech+IT+Solutions!5e0!3m2!1sen!2sin!4v1555491174676!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
    </div>
 </div>
     
   
</body>
</html>