{% extends "campus.html" %}
{% block mydemo %}
{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
<style>
.header{
        background:white !important;
}
.navbar
{
        background:black;
        height:74px;
}
.demo
{
    height: 40px;
    width:40px;
    border-radius: 50%;
    background:#ccc;
    text-align: center;
}
</style>
{% endblock %}
{% load staticfiles %}
{% block myd %}
<section class='mt-3' style='background:url("{% static 'images/lapi.jpg' %}");background-attachment: fixed;'> 
                <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Register</h1>
                 </section> 
   <div class='container'>
       <div class='row'>
           <div class='col-md-6 mx-auto'>
               <h1 class='pt-4 pb-3' style="color:#222a35;font-size: 45px;font-weight: 600;font-family: 'Poppins',sans-serif;">Sign Up</h1>
           </div>
       </div>

       <div class='row'>
           <div class='col-md-6 mx-auto'>
             <a id='a1' style="text-decoration:none;color:#5caf01;font-size:20px;font-family: 'Poppins',sans-serif;word-spacing: 50px"> Student </a>
             <a   id='a2' style="text-decoration:none;color:#222a35;font-size:20px;font-family: 'Poppins',sans-serif">Company</a> 
             <hr>
       
       <div  id='first'  >
<form action=" " method="post">
    {% csrf_token %}
    <p style='color:#5caf01;font-size:16px'>First Name:</p>
    <input type='text' class='form-control'  style="height:50px" name='first' required>
    <p  class='pt-2' style='color:#5caf01;font-size:16px'>Last Name:</p>
    <input type='text' class='form-control'  style="height:50px" name='last' >
    
    <p class='pt-2' style='color:#5caf01;font-size:16px'>E-mail:</p>
    <input type='email' class='form-control'  style="height:50px" name='emai' required id="usrn" onkeyup="checkComp()">
    <p class='pt-3' style='color:#5caf01;font-size:16px' >Password:</p>
    <input type='password' class='form-control'  style="height:50px" name='paswd' id='pa' onkeyup='fun()' required>
   
   
    <p class='pt-3' style='color:#5caf01;font-size:16px' >Confirm Password:</p>
    <input type='password' class='form-control'  style="height:50px" name='conf' onkeyup='fun()' id='cpa' required>
    
    <p class='pt-3' style='color:#5caf01;font-size:16px'>City:</p>
    <input type='text' class='form-control'  style="height:50px" pattern="[a-zA-Z\s]+" title="Only Characters Allowed" name='city'>
    <p class='pt-3' style='color:#5caf01;font-size:16px'>Address:</p>
    <input type='text' class='form-control'  style="height:50px" name='addr' pattern="[a-zA-Z\s]+" title="Only Characters Allowed">
    <p class='pt-3' style='color:#5caf01;font-size:16px'>Contact:</p>
    <input type='number'  class='form-control'  style="height:50px" name='con'>
    <p  class='pt-3' style='color:#5caf01;font-size:16px'>Date Of Birth</p>
    <input type='date' class='form-control' required name='da'>
    <p  class='pt-3' style='color:#5caf01;font-size:16px'>Gender</p>
    
    <span class='radio-inline pl-2' >
        <input type='radio' name='gen' checked >Male 
        <input type='radio' name='gen'>Female
    </span>
    
      <br>   
    <button type="submit" name="studentsignup"  id='submit1' class='btn text-light btn-control mt-3' style='background:#5caf01;font-weight:600;font-size: 18px;width:100px;' >Register</button>
    
  
    </form>
    </div>
    
    <div  id='second' style='display: none;'>
        <p id="msz"></p>
        <p id='ms'></p>
        <form action='' method="post">
        {% csrf_token %}
    <p style='color:#5caf01;font-size:16px'>Company Name</p>
    <input type='text' class='form-control'  style="height:50px" name='compn' required>
    <p class='pt-3' style='color:#5caf01;font-size:16px'>E-mail:</p>
    <input type='email' class='form-control'  style="height:50px" name='em' required id="usern" onkeyup="checkComp()">
    <p class='pt-3' style='color:#5caf01;font-size:16px' >Password:</p>
    <input type='password' class='form-control'  style="height:50px" name='passw' id='p' onkeyup='func()' required>
    <p class='pt-3' style='color:#5caf01;font-size:16px' >Confirm Password:</p>
    <input type='password' class='form-control'  style="height:50px" name='cpas' onkeyup='func()' id='cp' required>
    <p class='pt-3' style='color:#5caf01;font-size:16px'>City:</p>
    <input type='text' class='form-control'  style="height:50px" name='cit' required pattern="[a-zA-Z\s]+" title="Only Characters Allowed">
    <p class='pt-3' style='color:#5caf01;font-size:16px'>Address:</p>
    <input type='text' class='form-control'  style="height:50px" name='addre' pattern="[a-zA-Z\s]+" title="Only Characters Allowed">
    <p class='pt-3' style='color:#5caf01;font-size:16px'>Contact:</p>
    <input type='number' class='form-control'  style="height:50px" name='cont' >
         
    <button type="submit" name="companysignup" id='submit' class='btn text-light btn-control mt-3' style='background:#5caf01;font-weight:600;font-size: 18px;width:100px;' >Register</button>
    </form>
</div>
</div>
</div>
</div>
<script>
    $(function(){

        
        $('#a1').click(function(){
            $('#second').hide(); 
            $('#first').show();
              
        
        });
    });
    $(function(){
        $('#a2').click(function(){
            
            $('#first').hide();
            $('#second').show();    
        
        });
    });
</script>
<script>
   
    function func(){
        pw=$('#p').val();
        cpw=$('#cp').val();
        if(pw==cpw){
            $("#p").css('border','1px solid green')
            $("#cp").css('border','1px solid green')
            $('#change').removeAttr('disabled');
        }
        else{
            $('#p').css('border','1px solid red');
            $('#cp').css('border','1px solid red');
            $('#change').attr('disabled','disabled');       
        }
    }
    </script>    
    <script>
   
            function fun(){
                pw=$('#pa').val();
                cpw=$('#cpa').val();
                if(pw==cpw){
                    $("#pa").css('border','1px solid green')
                    $("#cpa").css('border','1px solid green')
                    $('#change').removeAttr('disabled');
                }
                else{
                    $('#pa').css('border','1px solid red');
                    $('#cpa').css('border','1px solid red');
                    $('#change').attr('disabled','disabled');       
                }
            }
            </script>    

<script>
     function checkComp()
    {
        let uname = $('#usern').val();
       
     $.ajax({
            url:'{% url "check_user" %}',      
            type:'get',    
            data:{usn:uname},       
            success:function(data)
            {
                        
            if(data=="Exists")
            {
                            
                $('#submit').removeAttr('disabled');           
               $('#msz').html('A user with this name already Exists!!').removeClass('text-success').addClass('text-danger');
                       
                        
            }
            else
            {
                        
                $('#submit').attr('enabled')         
               $('#msz').removeClass('text-success').addClass('text-danger').html(data);
              
            
                    }
            }
                        
                
            })
            
            
            }
    
    </script>
   
    
{% endblock %}

